body {
  background-color: darkgray;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.victory {
  text-align: center;
  background-color: gold;
  border: 3px solid black;
  z-index: 1;
  position: fixed;
  width: 400px;
  height: 400px;
  left: 36%;
  bottom: 30%;
  /* display: none; */
}

#new-game {
  position: relative;
  background-color: aqua;
  border: 3px solid black;
  width: 100px;
  height: 50px;
  left: 150px;
}

#new-game-button {
  position: relative;
  top: 12px;
}

button {
  cursor: pointer;
}

#game-card {
  cursor: pointer;
}

#scoreboard {
  border: 3px solid black;
  background-color: chartreuse;
  margin: 3px;
  padding: 5px;
  width: fit-content;
}